body {
    font-family: 'Arial', sans-serif;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    width: 220px;
    text-align: center;
    background-color: #fff;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 15px;
}

.error-message-background {
    height: 20px;
}

.error-message {
    background-color: rgba(255, 127, 80, 0.805);
    border-radius: 7px;
}
.form-container {
    margin-top: 25px;
}

.form-container label {
    display: block;
    text-align: left;
    font-weight: bold;
}

.form-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 3px;
}

.button-container {
    margin-top: 20px;
}

.button-container button {
    padding: 10px 40px;
    font-size: 18px;
    margin-right: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.button-container button:last-child {
    margin-right: 0;
}

.button-container button.login-button {
    background-color: #0077ff;
    color: #fff;
}


.button-container button:hover {
    opacity: 0.8;
}